name: Build EXE

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: windows-latest
    
    steps:
    - uses: actions/checkout@v4

    - name: Install Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.12"

    - name: Install requirements
      run: |
        pip install pyinstaller PyQt6

    - name: Build exe
      run: |
        pyinstaller --noconfirm --windowed --icon=logo.ico spm_final.py

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: Spammer-Build
        path: dist/
